.container {
  height: 100px;
  background-color: rgb(219, 219, 219);
  box-shadow: 0 16px 5px 0 rgba(170, 170, 170, 0.2);
}

.text {
  width: 70%;
  margin-left: 15%;
  padding: 20px 0;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
